.container {
    text-align: center;
}

#game-board {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.square {
    width: 50%;
    height: 50%;
    float: left;
    cursor: pointer;
}

/* Cores originais */
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }

/* Cores mais claras */
.red-light { background-color: #ff9999; }
.blue-light { background-color: #9999ff; }
.green-light { background-color: #99ff99; }
.yellow-light { background-color: #ffff99; }

/* Cores mais escuras */
.red-dark { background-color: #990000; }
.blue-dark { background-color: #000099; }
.green-dark { background-color: #009900; }
.yellow-dark { background-color: #999900; }

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

